@if (isUserLoading) {
<app-loading-spinner></app-loading-spinner>
} @else if (users) {
<div>
  <nav>
    <button class="user-button hidden">👨🏽‍💼</button>
    @for (user of users; track user) {
    <button
      class="user-button"
      [class.active]="isActive(user.id)"
      (click)="loadPosts(user.id, user.username)"
    >
      <span>{{ user.username }}</span>
      <span>></span>
    </button>
    }
  </nav>

  @if (selectedUser) {
  <app-posts [user]="selectedUser"></app-posts>
  } @else {
  <div class="empty">
    <h3>Welcome!</h3>
    <p class="mt-4">Select a user to start</p>
  </div>
  }
</div>
}
