@if(isPostsLoading){
<app-loading-spinner></app-loading-spinner>
} @else if (posts) {
<div class="container">
  @for (post of posts; track post) {
  <div class="post">
    <div class="header">
      <h4>{{ user.username }}</h4>
      <img class="userImage" [src]="user.userImage" [alt]="user.username" />
    </div>
    <h6>{{ post.title }}</h6>
    <p>{{ post.body | limitTo : 150 }}</p>
    <img class="postImage" [src]="postImage" [alt]="post.title" />
    <div class="footer">
      <button class="comments" (click)="loadComments(post.id)">comments</button>
    </div>
    @for (postId of selectedPostId; track postId) { @if (postId === post.id) {
    <app-comments [postId]="postId"></app-comments>
    } }
  </div>
  }
</div>
}
